@page
@model ResourceIdea.Web.Pages.Tasks.TasksIndexModel

@{
    ViewData["Title"] = $"{Model.TaskEngagement?.Name} Tasks";
}

<h3>@ViewData["Title"]</h3>

<div class="card">
    <div class="card-body bg-light">
        <p class="lead">
            Search @ViewData["Title"]
        </p>
        <form method="post">
            <input type="hidden" value="@Model.TaskEngagement?.EngagementId" name="engagement" id="engagement" />
            <input type="text" class="form-control form-control-sm" value="@Model.Search" name="search" placeholder="Enter search keywords...">
            <button asp-page-handler="search" class="btn btn-primary btn-sm">Search</button>
        </form>
    </div>
</div>
<br />
<div>
    <ul class="pagination">
        <li class="page-item">
            <a asp-page="/engagements/details"
               asp-route-id="@Model.TaskEngagement?.EngagementId" class="page-link">
                <i class="fa-solid fa-angles-left"></i> Back
            </a>
        </li>
        <li class="page-item">
            <a asp-page="./add" asp-route-client="@Model.TaskEngagement?.EngagementId" class="page-link">
                <i class="fas fa-plus"></i> Add Task
            </a>
        </li>
        <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
            <a href="~/tasks?engagement=@Model.Engagement&page=1" class="page-link">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>

        <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
            <a href="~/tasks?engagement=@Model.Engagement&page=@(Model.CurrentPage - 1)" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
            <a href="~/tasks?engagement=@Model.Engagement&page=@(Model.CurrentPage + 1)" class="page-link">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
            <a href="~/tasks?enagement=@Model.Engagement&page=@(Model.TotalPages)" class="page-link">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>
    </ul>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="col-3">Task</th>
            <th class="col-3">Client</th>
            <th class="col-3">Engagement</th>
            <th class="col-3">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tasks is not null && Model.Tasks?.Count > 0)
        {
            foreach (var task in Model.Tasks)
            {
                <tr>
                    <td class="col-3">
                        <a asp-page="./details"
                           asp-route-id="@task.TaskId"
                           asp-route-engagement="@task.EngagementId"
                           class="">
                            @Html.DisplayFor(modelItem => task.Description)
                        </a>
                    </td>
                    <td class="col-3">
                        <a asp-page="./details"
                           asp-route-id="@task.TaskId"
                           asp-route-engagement="@task.EngagementId"
                           class="">
                            @Html.DisplayFor(modelItem => task.Client)
                        </a>
                    </td>
                    <td class="col-3">
                        <a asp-page="./details"
                           asp-route-id="@task.TaskId"
                           asp-route-engagement="@task.EngagementId"
                           class="">
                            @Html.DisplayFor(modelItem => task.Engagement)
                        </a>
                    </td>
                    <td class="col-3">
                        @Html.DisplayFor(modelItem => task.Status)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="col-12" colspan="2">No engagements data</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
            <a href="~/tasks?page=1" class="page-link">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>

        <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
            <a href="~/tasks?page=@(Model.CurrentPage - 1)" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
            <a href="~/tasks?page=@(Model.CurrentPage + 1)" class="page-link">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
            <a href="~/tasks?page=@(Model.TotalPages)" class="page-link">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>
    </ul>
</div>