@* -----------------------------------------------------------------------------------
    File: DepartmentDetail.razor
    Path: src/dev/Web/EastSeat.ResourceIdea.Web/Components/Pages/Departments/DepartmentDetail.razor
    Description: Department Detail Page
   ------------------------------------------------------------------------------------ *@

@page "/departments/{Id:guid}"

@layout AdminLayout

<ResourceIdeaPageTitle Title="Department details" />

<div class="card text-bg-light mt-1 mb-2">
    <div class="card-body">
        <h5 class="card-title">Department details</h5>
    </div>
</div>

@if (IsLoadingModelData)
{
    <p>Loading data, please wait...</p>
}
else
{
    <DismissibleAlert ErrorMessage="@errorMessage" IsErrorMessage="@isErrorMessage" />

    <EditForm Model="@Model" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <NavLink class="btn btn-outline-dark btn-sm mt-2 mb-2"
                 href="/departments">Departments List</NavLink>
        <button type="submit" class="btn btn-danger btn-sm">Save changes</button>

        <input type="hidden" @bind="Model.DepartmentId" />

        <div class="form-group">
            <div class="row mb-1">
                <div class="col-md-6">
                    <label for="departmentName" class="form-label">Name</label>
                    <InputText id="departmentName" class="form-control" @bind-Value="Model.Name" />
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>
            </div>
        </div>
    </EditForm>
    
    <NavLink href="@($"/jobpositions/new?department={Model.DepartmentId}")"
             class="btn btn-primary btn-sm mt-4">
        Add Job Position</NavLink>

    <JobPositionsList
        PagedJobPositionsList="@JobPositions"
        OnPageChange="HandlePageChangeAsync"/>
}
