@page "/workitems"
@page "/workitems/index"
@using EastSeat.ResourceIdea.Web.Components.Shared.Lists
@using EastSeat.ResourceIdea.Web.Components.Shared.Alerts

<ResourceIdeaPageTitle Title="Work Items" />

<div class="page-container">
    <PageHeader Text="@GetPageTitle()" />

    @if (ShowBackButton)
    {
        <div class="mt-2 mb-2">
            <NavLink class="btn btn-outline-dark btn-sm" href="@GetBackNavigationUrl()" ActiveClass="">
                <i class="fa fa-chevron-left"></i> @GetBackButtonText()
            </NavLink>
        </div>
    }

    <div class="content-container">
        @if (IsLoadingPage)
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        else if (HasError)
        {
            <DismissibleAlert ErrorMessage="@ErrorMessage" IsErrorMessage="true" />
        }
        else
        {
            <WorkItemsList
                PagedWorkItemsList="@PagedWorkItemsList"
                OnWorkItemsPageChange="HandlePageChangeAsync"
                OnSearchTermChange="HandleSearchTermChangeAsync"
                OnSortChange="HandleSortChangeAsync" />
        }
    </div>
</div>