<input type="hidden" @bind="@department.Id" />
<input type="hidden" @bind="@department.Organization" />

<label>
    <input @bind="@department.Name" style="border: 0" class="form-control" />
</label>
<button class="btn btn-primary btn-sm" @onclick="@SaveChanges">Save</button>
<hr />
<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <JobPositionsList DepartmentId="@department.Id" />
    </div>
</div>
