@page "/clients"
@model ClientIndexModel

@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Clients List";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="card">
    <div class="card-body bg-light">
        <form method="post">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" value="@Model.Search" name="search" placeholder="Enter search keywords...">
                <button asp-page-handler="search" class="btn btn-primary btn-sm">Search</button>
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <ul class="pagination">
        <li class="page-item">
            <a asp-page="./add" class="page-link">
                <i class="fas fa-plus"></i> Add Client
            </a>
        </li>
        <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
            <a href="~/clients?page=1" class="page-link">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>

        <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
            <a href="~/clients?page=@(Model.CurrentPage - 1)" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
            <a href="~/clients?page=@(Model.CurrentPage + 1)" class="page-link">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
            <a href="~/clients?page=@(Model.TotalPages)" class="page-link">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>
    </ul>
</div>

<table class="table table-bordered table-striped table-sm">
    <thead class="bg-dark text-white">
        <tr>
            <th class="col-5">Name</th>
            <th class="col-4">Address</th>
            <th class="col-2">Industry</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Clients is not null && Model.Clients?.Count > 0)
        {
            foreach (var (clientId, name, address, industry, active) in Model.Clients)
            {
                <tr>
                    <td class="col-5">
                        <a asp-page="./details" asp-route-id="@clientId" class="table-link">@Html.DisplayFor(modelItem => name)</a>
                    </td>
                    <td class="col-4">@Html.DisplayFor(modelItem => address)</td>
                    <td class="col-2">@Html.DisplayFor(modelItem => industry)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="col-12" colspan="4">No client data</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
            <a href="~/clients?page=1" class="page-link">
                <i class="fas fa-fast-backward"></i>
            </a>
        </li>

        <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
            <a href="~/clients?page=@(Model.CurrentPage - 1)" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
            <a href="~/clients?page=@(Model.CurrentPage + 1)" class="page-link">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>

        <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
            <a href="~/clients?page=@(Model.TotalPages)" class="page-link">
                <i class="fas fa-fast-forward"></i>
            </a>
        </li>
    </ul>
</div>